#python 3.13.9
# ui
pyqt6==6.11.0
pygame-ce==2.5.7

# temp
insightface==1.0.1
deepface==0.0.100
tf-keras==2.21.0

# ml
scikit-learn==1.7.2
notebook==7.6.1

# other tools
opencv-python==4.10.0.84
pyinstaller==6.21.0
onnxruntime==1.23.2

# data
SQLAlchemy==2.0.51
alembic==1.19.1
pandas==2.3.3
matplotlib==3.10.9
